@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, main, html {
  background-color: #121212;
}

.slick-slider {
  padding: 0 10px;
}

.slick-slide {
  padding: 10px;
}

.arrow-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background 0.3s ease;
}

.arrow-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.arrow-button i {
  color: white;
  font-size: 18px;
}